<!DOCTYPE html>
<html>
  <head>
    <title>TTT - bugs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <form action='/bugs' method='POST'>
      <p id='tryAgain'>Please try again!</p>
      <textarea id='bugText' rows='5' cols='50' name='bug' placeholder="Enter bug..."></textarea><br />
      <input id='bugButton' type="submit" name="" value="Send">
    </form>
  </body>
</html>
