<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <script type="text/javascript" src='./script.js'></script>
  </head>
  <body>
    <div id="messageArea">
      <h3>Pick between X or O</h3>
      <button id="buttonX">X</button>
      <button id="buttonO">O</button>
    </div>

    <div id="board">
      <div id="displayWinner"></div>
      <div id="1" class="box"></div>
      <div id="2" class="box"></div>
      <div id="3" class="box"></div>
      <div id="4" class="box"></div>
      <div id="5" class="box"></div>
      <div id="6" class="box"></div>
      <div id="7" class="box"></div>
      <div id="8" class="box"></div>
      <div id="9" class="box"></div>
    </div>

    <div id="scoreBoard">
      <table>
        <tr>
          <th>You</th>
          <td id='userScore'>0</td>
        </tr>
        <tr>
          <th>Computer</th>
          <td id='computerScore'>0</td>
        </tr>
      </table>
    </div>

    <button id="resetButton">Reset</button>
  </body>
</html>
