* {
  margin: 0 auto;
  text-align: center;
}

button {
  outline: none;
}

body {
  padding-top: 30px;
}

#messageArea {
  margin-bottom: 10px;
  button {
    height: 20px;
    width: 50px;
    background-color: rgb(30, 228, 144);
    border: 1px solid rgb(0, 0, 0);
    margin-top: 5px;
  }
}

#board {
  height: 400px;
  width: 397px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  height: 130px;
  width: 130px;
  background-color: white;
  margin: 0 auto;
  line-height: 130px;
  border: 1px solid rgb(24, 171, 109);
  font-size: 30px;
}
.box:active {
  background-color: rgb(15, 140, 87);
}

#resetButton {
  height: 30px;
  width: 100px;
  margin-top: 10px;
  background-color: rgb(30, 228, 144);
  border: 1px solid rgb(0, 0, 0);
  font-size: 16px;
  outline: none;
}

#displayWinner {
  position: absolute;
  font-size: 60px;
  color: rgb(30, 228, 144);
  line-height: 400px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.7);
}

button:hover {
  background-color: rgb(9, 97, 60);
  color: white;
}

#scoreBoard {
  margin-top: 10px; }

table, td {
  border: 1px solid black;
}

td {
  width: 50px;
}

#bug {
  margin-top: 10px;
  height: 30px;
  width: 100px;
  background-color: rgb(30, 228, 144);
  border: 1px solid black;
  outline: none;
}
#bug:hover {
  color: white;
}


/* -------------------------------------------------------------------------- */

#bugText {
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  height: 100px;
  width: 500px;
  border: 1px solid black;
  outline: none;
  font-size: 18px
}
#bugText:focus {
  border: 1px solid rgb(30, 228, 144)
}

#bugButton {
  height: 30px;
  width: 100px;
  background-color: rgb(30, 228, 144);
  border: 1px solid black;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
}
#bugButton:hover {
  color: white;
}

/* -------------------------------------------------------------------------- */

#success input {
  height: 30px;
  width: 100px;
  background-color: rgb(30, 228, 144);
  border: 1px solid black;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
}
#success input:hover {
  color: white;
}
